{%extends "index.html"%}
{% block  content%}
    {%include "backoffice-nav.html"%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style = 'background-color: red; color:brown'>
                    {{ message }}
                </div>
                
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Add Order</h2>
                        </div>
                            </div>
                </div>
            <div>
                <label for='date'>Date:</label>
                <input class="input-t" type='datetime-local' id='date'>
                <label for='user'>User:</label>
                <input class="input-t" type='text' id='user'>
                <label for='status'>User:</label>
                <datalist id='#suggestions-users' >

                </datalist>
                <select class="input-t" list='#suggestions-users' id='status'>
                    {%for status in statuses%}
                                 
                                 <option  value="{{status.id}}">{{status.name}}</option>
                                 
                    {%endfor%}  
                </select>

            </div>
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        ISBN
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Number of books
                    </th>
                    <th>Opperation</th>
                </tr>
             <tbody id='tb'>

             </tbody>
             <tr>
                 <td>
                    <datalist id='suggestions-books'>

                    </datalist>
                    <input class="input-t"  list='suggestions-books' type='text' id='isbn'> 
                    
                 </td>
                 <td>
                    <input class="input-t" style="float: left; clear: both;" type='number' step='0.01' id='price'> 
                 </td>
                 <td>
                    <input class="input-t" style="float: left; clear: both;" type='number' id='amount'> 
                 </td>
                 <td>
                     <button id='add-book' class="page-link" >Add</button>
                 </td>
             </tr>   
            </table>
            <button id='add-order' class="page-link">Create</button>
{%endblock%}  