{%extends "index.html"%}
{% block  content%}
    {%include "nav.html"%}
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            
            <img src = '{{book.cover}}'>
            <h3>{{book.name}}</h3>
            <h4>{{book.autor}}</h4>
            <h5>{{book.price}}</h5>
            <p>{{book.description}}</p>
            <form action='{{"/basket/{0}".format(book.id)}}' method='post'>
                <input type='submit' value = 'Add to Basket'>
            </form>
        </div>
    </div>
</section>

{% endblock%}