{%extends "index.html"%}
{% block  content%}
    {%include "backoffice-nav.html"%}
    <div class="container-xl">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div class="col-sm-6">
                          <h2>Roles</h2>
                      </div>
                         <div class="col-sm-6">
                          {% if pers[0] %}
                          <a href="#addEmployeeModal" onclick="location.href='/add-role';" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>						
                          {% endif%}
                      </div>
                  </div>
              </div>
    <table class="table table-striped table-hover">
        <tr>
             <th>ID</th>
             <th>Name</th>
            {% if pers[1] %}
              <th></th>
            {%endif%}
        </tr>
        {% for role in data%}
          <tr>
            <td>{{role.id}}</td>  
            <td style="text-align:left">{{role[1]}}</td>
            {% if pers[1] %}
               <td> <button class="btn btn-outline-dark"  onclick="location.href='/permitions-role/{{role.id}}';" type="submit">Permitions</button></td>
            {%endif%}
        </tr>  
            
        {%endfor%}
    </table>
    
{%endblock%}  