{%extends "index.html"%}
{% block  content%}
   
    {%include "backoffice-nav.html"%}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Users</h2>
                        </div>
                        
                                <input  style="border: 1px solid #ccc;border-radius: 4px 0px 0px 4px;box-sizing: border-box;height: 30px;width:200px;background-color: rgba(200,200,200,0.5);margin:0 0 0 -300px" type="text" id="name" name = 'name' autocomplete="on" value="{{en if en else ''}}" >
                                <button  style="border: 1px solid #ccc;border-radius: 0px 4px 4px 0px;box-sizing: border-box;height: 30px;width:100px;background-color: rgb(200,200,200);" type="submit" class="button" value="1" > Search</button>
                        
                        <div class="col-sm-6">
                            {% if pers[0] %}
                            <a href="#addEmployeeModal" onclick="location.href='/add-user';" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>						
                            {% endif%}
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th >Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users.items%}
                        <tr>
                            <td>{{user.id}}</td>  
                            <td style="text-align:left">{{user.username}}</td>
                            <td style="text-align:left">{{user.email}}</td>
                            <td>
                                {% if pers[2] %}
                                 <a href="#editEmployeeModal" class="edit" onclick="location.href='/update-user/{{user.id}}';" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                {%endif%}
                                {% if pers[2] %}
                                 <a href="#deleteEmployeeModal" class="delete" onclick="location.href='/delete-user/{{user.id}}';" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                <div class="clearfix">
                    
                    <ul class="pagination">
                        {% for page_num in users.iter_pages(left_edge=2, right_edge=3, left_current=2, right_current=4) %}
                        {% if page_num %}
                            {% if users.page == page_num %}
                            <input class="button" class="butt-order page-link"  style="background-color:#34ebe1" name = 'page' type="submit" value="{{ page_num }}" >
                            
                            {% else %}
                            <input class="button" class="butt-order page-link"  name = 'page' type="submit" value="{{ page_num }}" >
                            {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>        
    </div>  
       
    
{%endblock%}  