{%extends "index.html"%}
{% block  content%}
    {%include "backoffice-nav.html"%}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div style = 'background-color: red; color:brown'>
                    {{ message }}
                </div>
                
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Books</h2>
                            <button id="fil"  style="border: 1px solid #ccc;border-radius:4px;box-sizing: border-box;height: 30px;width:100px; background-color: rgb(200,200,200);" type="submit"  value="1" > Fillters</button>
                        </div>
                        <div class="col-sm-6">
                            {% if pers[0] %}
                            <a href="#addEmployeeModal" onclick="location.href='/add-books';" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>						
                            {% endif%}
                        </div>
                    </div>
                </div>
                <div id = 'filter'>
                    <div>
                     <label  for='name'>Name:</label>
                     <input class="input-t" value='{{values["name"]}}' type='text' id='name'>
                     </div>
                     <div>
                     <label  for='autor'>Autor:</label>
                     <input class="input-t" value='{{values["autor"]}}' type='text' id='autor'>
                    </div>
         
                     <div>
                       <label for='gener'>Gener:</label>
                         <select class="input-t" id="gener">
                           
                                {%for gener in geners%}
                                 {%if gener.id == values['gener'] %}
                                   <option selected value="{{gener.id}}">{{gener.name}}</option>
                                 {%else%}
                                 <option  value="{{gener.id}}">{{gener.name}}</option>
                                 {%endif%}
                                 
                                {%endfor%}        
                                         
                             
                           </select>
                     </div>
                     <div>
                         <label for='amountUpper'>Les than or equal to amount:</label>
                         <input class="input-t" value='{{values["upper"]}}' type='number' id='amountUpper'>
                         <label for='amountLower'>More than or equal to amount:</label>
                         <input class="input-t" value='{{values["lower"]}}' type='number' id='amountLower'>
                     </div>
                     
                     <button class="butt-book" value="1">Fillter</button>
                    
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ISBN</th>
                            <th>Name</th>
                            <th>Autor</th>
                            <th>Price</th>
                            <th>Currency</th>
                            <th>Discount</th>
                            <th>Amount</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books.items%}
                        <tr>
                            <td style="text-align:left">{{book.isbn}}</td>  
                            <td style="text-align:left">{{book.name}}</td>
                            <td style="text-align:left">{{book.autor}}</td>
                            <td style = 'text-align: right;'>{{book.price/100|round(2)}}</td>
                            <td style="text-align:left">{{book.currency.name}}</td>
                            <td style = 'text-align: right;'>{{book.discount/100|round(2)}}</td>
                            <td style = 'text-align: right;'>{{book.amount}}</td>
                            <td>
                                {% if pers[2] %}
                                 <a href="#editEmployeeModal" class="edit" onclick="location.href='/update-book/{{book.id}}';" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                {%endif%}
                                {% if pers[2] %}
                                 <a href="#deleteEmployeeModal" class="delete" onclick="location.href='/delete-book/{{book.id}}';" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                {%endif%}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                <div class="clearfix">
                    
                    <ul class="pagination">
                        {% for page_num in books.iter_pages(left_edge=2, right_edge=3, left_current=2, right_current=4) %}
                        {% if page_num %}
                            {% if books.page == page_num %}
                            <input class="butt-book page-link"  style="background-color:#34ebe1" name = 'page' type="submit" value="{{ page_num }}" >
                            
                            {% else %}
                            <input class="butt-book page-link"  name = 'page' type="submit" value="{{ page_num }}" >
                            {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </div>        
    </div> 
{%endblock%}  