<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/books">Home</a></li>
                <form method="POST" action="">
                    
                    <div class="form-group" style = 'float: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);'>
                        {{ sForm.hidden_tag() }}
                        {% if sForm.search.errors %}
                                {{ sForm.search(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in sForm.search.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ sForm.search(class="btn btn-outline-info") }}
                            {% endif %}
                        {{ sForm.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </ul>
            <form action="/basket" method='GET' class="d-flex" style = 'margin-left: -100;'>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    {%if user %}
                    <li class="nav-item"><b class="nav-link">{{user['name']}}</b></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                    {%else%}
                    <li class="nav-item"><a class="nav-link" href="/login">LogIn</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    {%endif%}
                </ul>    
                <button  class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span id='cart' class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
                
            </form>
        </div>
    </div>
</nav>
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>