{%extends "index.html"%}

            
{% block  content%}
    {%include "backoffice-nav.html"%}
    <input id="role" type="hidden" value="{{role}}">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
          <legend class="border-bottom mb-4">Permitions</legend>  
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              
              <table>
                    <tr>
                      <th class='number'>Type</th>
                      <th  style ='text-align: center;vertical-align: middle;'>Create</th>
                      <th style ='text-align: center;vertical-align: middle;'>Read</th>
                      <th style ='text-align: center;vertical-align: middle;'>Update</th>
                      <th style ='text-align: center;vertical-align: middle;'>Delete</th>
                    </th>
                    </tr>
                    {%for p in per %}
                      <tr>
                        <td >{{p[0]}}</td>
                        {%for t in p[1]%}
                          <td style = 'text-align: center;vertical-align: middle;'>
                            {% if t not in data%}
                            <input type="checkbox" id="scales" value='{{t}}'  >
                            {%else%}
                              <input type="checkbox" id="scales" value='{{t}}' checked >
                            {%endif%}
                            
                          </td>
                        {%endfor%}
                      </tr>
                    {%endfor%}
                  </table>
    
{%endblock%}  