{%extends "index.html"%}
{% block  content%}
    {%include "backoffice-nav.html"%}
     
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Reports</h2>
                        </div>
                        <div class="col-sm-6">
                            					
                        </div>
                    </div>
                </div>
            
             <form method="POST" action="">
                {{ form.hidden_tag() }}
                    <div>
                        {{ form.fromDate.label(class="form-control-label") }}  
                            {% if form.fromDate.errors %}
                                {{ form.fromDate(class="input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.fromDate.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.fromDate(class="input-t") }}
                            {% endif %}
                        {{ form.toDate.label(class="form-control-label") }}  
                            {% if form.toDate.errors %}
                                {{ form.toDate(class=" input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.toDate.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.toDate(class=" input-t") }}
                            {% endif %}
                        {{ form.period.label(class="form-control-label") }}  
                        {% if form.period.errors %}
                            {{ form.period(class=" input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.period.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                                {{ form.period(class=" input-t") }}
                        {% endif %}    
        </div>
         
        <div>
            {{ form.user.label(class="form-control-label",id='users') }}  
                        {% if form.user.errors %}
                            {{ form.user(class=" input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.user.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                                {{ form.user(class=" input-t",list='suggestions-users',disabled='true') }}
                        {% endif %}
            <datalist id = 'suggestions-users'></datalist>
            {{ form.userShow.label(class="form-control-label",id='users') }}  
            {% if form.userShow.errors %}
                {{ form.user(class=" input-t is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.user.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                    {{ form.userShow(class=" input-t") }}
            {% endif %}

        </div>
         
        <div>
            {{ form.status.label(class="form-control-label",id='users') }}  
                        {% if form.status.errors %}
                            {{ form.status(class=" input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.status.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                                {{ form.status(class=" input-t",list='suggestions-status',disabled='true') }}
                        {% endif %}
            <datalist id = 'suggestions-status'></datalist>
            {{ form.statusShow.label(class="form-control-label",id='users') }}  
            {% if form.statusShow.errors %}
                {{ form.status(class=" input-t is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.status.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                    {{ form.statusShow(class=" input-t") }}
            {% endif %}

        </div>
         
        <div>
            {{ form.paymentType.label(class="form-control-label",id='users') }}  
                        {% if form.paymentType.errors %}
                            {{ form.paymentType(class=" input-t is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.paymentType.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                        {% else %}
                                {{ form.paymentType(class=" input-t",list='suggestions-paymentTypes',disabled='true') }}
                        {% endif %}
            <datalist id = 'suggestions-paymentType'></datalist>
            {{ form.paymentTypeShow.label(class="form-control-label",id='users') }}  
            {% if form.paymentTypeShow.errors %}
                {{ form.paymentType(class=" input-t is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.paymentType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
            {% else %}
                    {{ form.paymentTypeShow(class=" input-t") }}
            {% endif %}

        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            {{ form.tocsv(class="btn btn-success") }}
        </div>
    </form>
    {%if data %}
        <table class="table table-striped table-hover">
            <tr>
                {%if data[0].period %}
                    <th style="width:100px">Period</th>
                {%endif%}
                {%if data[0].user %}
                    <th>User</th>
                {%endif%}
                {%if data[0].status %}
                    <th>Status</th>
                {%endif%}
                {%if data[0].type %}
                    <th>Type of Payment</th>
                {%endif%}
                <th>Count</th>
                <th>Sum</th>
                <th>Currency</th>
            </tr>
            {% for row in data%}
                <tr>
                    {%if row.period %}
                        <td>{{row.period}}</td>
                    {%endif%}
                    {%if row.user %}
                        <td>{{row.user}}</td>
                    {%endif%}
                    {%if row.status %}
                        <td>{{row.status}}</td>
                    {%endif%}
                    {%if data[0].type %}
                        <td>{{row.type}}</td>
                    {%endif%}
                    <td>{{row.count}}</td>
                    <td>{{row.sum}}</td>
                    <td>{{row.currency}}</td>
                </tr>
            {% endfor%}
            <tr>
                <tr>
                    {%if data[0].period %}
                        <th></th>
                    {%endif%}
                    {%if data[0].user %}
                        <th></th>
                    {%endif%}
                    {%if data[0].status %}
                        <th></th>
                    {%endif%}
                    {%if data[0].type %}
                        <th></th>
                    {%endif%}
                    <th>Total:</th>
                    <th>{{total.sum}}</th>
                    <th>{{total.currency}}</th>
                </tr>  
            </tr>
        </table>
    {%else%}
     <p>no data for this paramethers</p>
        {% endif%}
{%endblock%}  