{% extends "index.html" %}
{% block content %}
{%include "backoffice-nav.html"%}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="content-section">
                <form method="POST" action="">
                    {{ formU.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Update {{staf.name}}</legend>
                        <div class="form-group">
                            {{ formU.username.label(class="form-control-label") }}
        
                            {% if formU.username.errors %}
                                {{ formU.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in formU.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formU.username(class="form-control form-control-lg",value = staf.name) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formU.email.label(class="form-control-label") }}
                            {% if formU.email.errors %}
                                {{ formU.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in formU.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formU.email(class="form-control form-control-lg",value = staf.email) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formU.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                    <form method="POST" action="">
                        {{ formP.hidden_tag() }}
                        <div class="form-group">
                            {{ formP.password.label(class="form-control-label") }}
                            {% if formP.password.errors %}
                                {{ formP.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in formP.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formP.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ formP.confirm_password.label(class="form-control-label") }}
                            {% if formP.confirm_password.errors %}
                                {{ formP.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in formP.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formP.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ formP.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
                <legend class="border-bottom mb-4">Roles</legend>
                <div>
                    <table>
                        {%for role in roles%}
                        <tr>
                       
                    
                            <td>
                            <label>{{role[1]}}</label>
                            </td>    
                            <td>
                                <button class="btn btn-outline-info" onclick = 'location.href="/revoke-role/{{staf.id}}/{{role[0]}}"'>Remove</button>
                            </td>
                        
                       
                        </tr>
                     {%endfor%}    
                    </table>
                    <form method="POST" action="">
                        {{ formR.hidden_tag() }}
                        <div class="form-group">
                            {% if formR.name.errors %}
                                {{ formR.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in formR.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ formR.name(class="form-control form-control-lg",id='roles',list = 'suggestions-roles') }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ formR.submit(class="btn btn-outline-info") }}
                    </div>
                    <datalist id = 'suggestions-roles'>

                    </datalist>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}
