{%extends "index.html"%}
{% block  content%}
    {%include "backoffice-nav.html"%}
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{form.id}}
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control form-control-lg",value = gener.name) }}
            {% endif %}
        </div>
        <div class="form-group">
            
            {{ form.submit(class="btn btn-outline-info",value = 'Update') }}
        </div>
    </form>
    
    
{%endblock%}  